@mixin animation($animation-name)
  -webkit-animation: $animation-name
  -moz-animation: $animation-name
  animation: $animation-name
  -webkit-animation-fill-mode: both
  -moz-animation-fill-mode: both
  animation-fill-mode: both

@mixin fadeFromLeftBefore($timing)
  content: ""
  position: absolute
  background: #fff
  width: 100%
  height: 100%
  right: 0%
  @include animation(fadeFromLeft $title-animation-duration linear $title-animation-duration * $timing forwards)

@mixin flex
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin justify-center
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center

@mixin align-center
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center

$index-title-width: 50vw
$index-title-height: 280px
$animation-line-width: 3px
$title-animation-duration: 0.4s
$title-color: rgb(238, 155, 101)

.logo
  position: absolute
  left: 20%
  @include flex
  align-items: content

.navbar-menu
  position: absolute
  right: 10%

.title-area
  width: 100%
  height: $index-title-height + 20px
  @include flex
  @include justify-center
  position: relative
  top: 60px

.sidenav-top-area
  height: 10%
  font-size: 32px
  font-weight: 600
  @include flex
  @include align-center
  @include justify-center

.index-title
  @include flex
  @include align-center
  @include justify-center
  position: relative
  width: $index-title-width
  height: $index-title-height
  line-height: 200px
  overflow: hidden
  margin: 0
  transition: all 0.4s ease-out

  &__x:before, &__x:after, &__y:before, &__y:after
    content: ''
    position: absolute
    background: $title-color

  &__y:before
    bottom: 0
    right: -$index-title-width
    width: $index-title-width
    height: $animation-line-width
    @include animation(topLine $title-animation-duration ease $title-animation-duration * 2 forwards)

  &__y:after
    top: 0
    left: -$index-title-width
    width: $index-title-width
    height: $animation-line-width
    @include animation(bottomLine $title-animation-duration ease 0s forwards)

  &__x:before
    top: -$index-title-height
    right: 0
    width: $animation-line-width
    height: $index-title-height
    @include animation(rightLine $title-animation-duration ease $title-animation-duration forwards)

  &__x:after
    bottom: -$index-title-height
    left: 0
    width: $animation-line-width
    height: $index-title-height
    @include animation(leftLine $title-animation-duration ease $title-animation-duration * 3 forwards)

  &__content
    color: $title-color
    @include flex
    @include justify-center
    @include align-center
    flex-flow: column

    &__base
      height: $index-title-height / 4
      @include flex
      @include justify-center
      @include align-center
      position: relative

    &__label
      font-size: 42px
      font-weight: 600
      &:before
        @include fadeFromLeftBefore(5)

    &__icon
      position: absolute
      top: 72px
      left: 20%
      opacity: 0
      -webkit-transform: translateX(-50%)
      transform: translateX(-50%)
      @include animation(penAnimation $title-animation-duration * 4 linear $title-animation-duration * 4.8 forwards)
      &__content
        font-size: 42px
        color: $title-color + rgb(40, 40, 40)


    &__text
      font-size: 24px
      &:before
        @include fadeFromLeftBefore(7)

.link-area
  position: relative
  top: 80px
  width: 100%
  @include flex
  @include justify-center
  opacity: 0
  @include animation(fadeIn 1s ease $title-animation-duration * 9.5 forwards)

@keyframes topLine
  100%
    right: 0

@-webkit-keyframes topLine
  100%
    right: 0

@-moz-keyframes topLine
  100%
    right: 0

@keyframes bottomLine
  100%
    left: 0

@-webkit-keyframes bottomLine
  100%
    left: 0

@-moz-keyframes bottomLine
  100%
    left: 0

@keyframes rightLine
  100%
    top: 0

@-webkit-keyframes rightLine
  100%
    top: 0

@-moz-keyframes rightLine
  100%
    top: 0

@keyframes leftLine
  100%
    bottom: 0

@-webkit-keyframes leftLine
  100%
    bottom: 0

@-moz-keyframes leftLine
  100%
    bottom: 0

@keyframes fadeFromLeft
  100%
    width: 0

@-webkit-keyframes fadeFromLeft
  100%
    width: 0

@-moz-keyframes fadeFromLeft
  100%
    width: 0

@keyframes penAnimation
  10%
    opacity: 1
  30%
    left: 80%
    top: 72px
  40%
    top: 140px
    left: 18%
  50%
    top: 140px
    left: 18%
  80%
    top: 140px
    left: 82%
  90%
    top: 200px
    left: 48%
  100%
    top: 200px
    left: 50%
    opacity: 1

@-webkit-keyframes penAnimation
  10%
    opacity: 1
  30%
    left: 80%
    top: 72px
  40%
    top: 140px
    left: 18%
  50%
    top: 140px
    left: 18%
  80%
    top: 140px
    left: 82%
  90%
    top: 200px
    left: 48%
  100%
    top: 200px
    left: 50%
    opacity: 1

@-moz-keyframes penAnimation
  10%
    opacity: 1
  30%
    left: 80%
    top: 72px
  40%
    top: 140px
    left: 18%
  50%
    top: 140px
    left: 18%
  80%
    top: 140px
    left: 82%
  90%
    top: 200px
    left: 48%
  100%
    top: 200px
    left: 50%
    opacity: 1

@keyframes fadeIn
  100%
    opacity: 1

@-webkit-keyframes fadeIn
  100%
    opacity: 1

@-moz-keyframes fadeIn
  100%
    opacity: 1



@import 'memo'

// @keyframes id
//   100%
//     right: 0
//
// @-webkit-keyframes id
//   100%
//     right: 0
//
// @-moz-keyframes id
//   100%
//     right: 0
